#box{
    width: 90%;
    height: 250px;
    background-color: rgb(115, 216, 202);
    border-radius: 4px;
    text-align: center
}
table{
    width: 25%;
    height: 50%;
    margin-top: 2px;
}
#box2{
    width: 95%;
    height: 250px;
    background: rgb(115, 216, 202);
    border-radius: 4px;
}